*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body.light {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  --header-background-color: dodgerblue;
  --header-text-color: white;
  --sidebar-background-color: dodgerblue;
  --sidebar-text-color: white;
  --content-background-color: white;
  --content-text-color: black;
}

body.dark {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  --header-background-color: #06193d;
  --header-text-color: #c5c5c5;
  --sidebar-background-color: #06193d;
  --sidebar-text-color: #c5c5c5;
  --content-background-color: #393939;
  --content-text-color: #c5c5c5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}
